include ../../utils/_header.pug
include ../../utils/_navbar.pug
include ../../utils/_postCreator.pug
html 
    head 
        block header

        link(rel="stylesheet", href="/css/groupPage/groupPage.css")
        link(rel="stylesheet", href="/css/groupPage/utils/_sideBar.css")
        link(rel="stylesheet", href="/css/utils/_postCreator.css")
        link(rel="stylesheet", href="/css/utils/_postCreatorDisplayer.css")
        link(rel="stylesheet", href="/css/utils/_posts.css")
        link(rel="stylesheet", href="/css/utils/_comments.css")

        title=`${group.name} | about`
    body.bodyGroupPage
        block navbar
        include ../../utils/groups/_groupSideBar.pug

        content(class="group")
            div(class="group__topContent")
                img(src=`${group.bannerImage}` alt="group's background" class="group__backgroundImage")
                div(class="topContent__container")
                    div(class="topContent__details")
                        h1(class="topContent__name")=group.name
                        div(class="topContent__details__bottom")
                            div(class="topContent__privacy")

                                - let imgSrc = "/imgs/icons/lock-closed.png";
                                - let text = "Private group"
                                if group.settings.privacy !== "private"
                                    - imgSrc = "/imgs/icons/lock-open.png"
                                    - text = "Public group"
                                img(class="topContent__icon icon--small" src=`${imgSrc}` alt="privacy")
                                h1(class="topContent__description description--privacy")=text
                            h1(class="topContent__description")=`${group.members.length} Members` 
                    include ./utils/buttons.pug

                div(class="topContent__navbar")
                    //- if not the member - about--active
                    a(class="topContent__element topContent__element--active" href=`/group/${group._id}/about`) About
                    if group.settings.privacy !== "private" || isMember === true
                        a(class="topContent__element" href=`/group/${group._id}/discussion`) Discussion
                        a(class="topContent__element" href=`/group/${group._id}/members`) Members               
            div(class="group__mainContent group__mainContent--about")
                include ./utils/sectionAbout.pug

                div(class="mainContent__section section--members")
                    div(class="section__top")
                        h1(class="section__header") Members · 
                            span(style="color: var(--white60tint)")=group.members.length
                    div(class="section__midContent")
                        div(class="midContent__avatars")

                            - const members = [];
                            - const amountOfAdmins = group.administration.admins.length
                            - const amountOfModerators = group.administration.moderators.length;
                            - let adminsDesc = '';
                            - let modsDesc = '';
                            - let description = ""; 



                            if amountOfAdmins == 1
                                -  adminsDesc = `${group.administration.admins[0]._id.firstName} is the admin`

                            else if amountOfAdmins > 1
                                - adminsDesc = `${group.administration.admins[0]._id.firstName} and ${amountOfAdmins - 1 === 1 ? "one more member" : `${amountOfAdmins - 1} more members`} are admins`

                            if amountOfModerators == 1
                                - modsDesc = `${group.administration.moderators[0]._id.firstName} is the moderator`

                            else if amountOfModerators > 1
                                - modsDesc = `${group.administration.moderators[0]._id.firstName} and ${amountOfModerators - 1 === 1 ? "one more member" :  `${amountOfModerators - 1} more members` } are moderators`



                            if amountOfAdmins + amountOfModerators <= 14
                                for admin in group.administration.admins 
                                    - members.push(admin._id)
                                for moderator in group.administration.moderators
                                    - members.push(moderator._id)

                            if amountOfAdmins + amountOfModerators > 14
                                for admin in group.administration.admins 
                                    - members.push(admin._id)
                                for moderator in group.administration.moderators
                                    - members.push(moderator._id)


                            if adminsDesc !== "" && modsDesc !==  ""
                                - description = `${adminsDesc}, ${modsDesc}`

                            if adminsDesc !== "" && modsDesc == ""
                                - description = `${adminsDesc}`

                            if adminsDesc == "" && modsDesc !== ""
                                - description = `${modsDesc}`

                            for member in members
                                img(class="midContent__icon midContent__icon--round" alt="profile picture" src=`${member.profileImage}`)

                        div(class="midContent__note")=description


                div(class="mainContent__section section--activity")
                    div(class="section__top")
                        h1(class="section__header") Activity
                    div(class="section__midContent")
                        div(class="midContent__informations")
                            div(class="midContent__information")
                                img(class="midContent__icon" alt="Privacy icon" src="/imgs/icons/chat-centered-text-duotone.png")
                                div(class="midContent__rightSide")
                                    h1(class="midContent__header")=`${postedToday} new posts today` 
                                    h2(class="midContent__description")=`${postedInLastMonth} in last month.`

                            div(class="midContent__information")
                                img(class="midContent__icon" alt="Privacy icon" src="/imgs/icons/user-list-duotone.png")
                                div(class="midContent__rightSide")
                                    h1(class="midContent__header")=`${group.members.length} total members` 
                                    - let joinedLastWeekText = "";
                                    -  membersJoinedLastWeek === 0 ? joinedLastWeekText =  `0 new members in last week`: "";
                                    -  membersJoinedLastWeek === 1 ? joinedLastWeekText = `One new member in last week`: "";
                                    -  membersJoinedLastWeek > 1 ? joinedLastWeekText =  `${membersJoinedLastWeek} new members in last week`: "";
                                    h2(class="midContent__description")=`${joinedLastWeekText}`

                            div(class="midContent__information")
                                img(class="midContent__icon" alt="Privacy icon" src="/imgs/icons/clock-fill.png")
                                div(class="midContent__rightSide")

                                    - const calcedTime = calcTimePassed("Created", group.createdAt)
                                    h1(class="midContent__header")=`${calcedTime}`


                div(class="mainContent__section section--rules")
                    div(class="section__top")
                        h1(class="section__header") Group rules from the admins
                    div(class="section__midContent")
                        div(class="midContent__ruleCards")
                            for rule in group.rules
                                if rule !== undefined
                                    div(class="midContent__ruleCard")
                                        div(class=`ruleCard__heading headingID_${rule.number}`)
                                            h1(class="ruleCard__counter")=rule.number
                                            h1(class="ruleCard__header")=rule.heading
                                            img(class=`ruleCard__image imageID_${rule.number}` alt="arrow" src="/imgs/icons/arrow-up.png")
                                        h1(class=`ruleCard__description descriptionID_${rule.number} hidden`)=rule.description

        script(src="/js/utils/_groupSideBar.js")
        script(src="/js/utils/_rules.js")
        script(src="/js/groups/requests/mainRequests.js")
        script(src="/js/groups/requests/sideBarRequests.js")