include ../../../utils/_header.pug
include ../../../utils/_navbar.pug
include ../../../utils/_postCreator.pug
html 
    head 
        block header
        link(rel="stylesheet", href="/css/groupPage/groupPage.css")
        link(rel="stylesheet", href="/css/groupPage/utils/_sideBar.css")

        
        title GROUP NAME | Real Life
    body.bodyGroupPage
        block navbar
        include ../../../utils/groups/_groupSideBar.pug

        content(class="group")
            div(class="group__topContent")
                img(src="/imgs/pictures/bugatti.jpg" alt="group's background" class="group__backgroundImage")
                div(class="topContent__container")
                    div(class="topContent__details")
                        h1(class="topContent__name")=group.name
                        div(class="topContent__details__bottom")
                            div(class="topContent__privacy")
                                - let imgSrc = "/imgs/icons/lock-closed.png";
                                - let text = "Private group"
                                if group.settings.privacy !== "private"
                                    - imgSrc = "/imgs/icons/lock-open.png"
                                    - text = "Public group"
                                img(class="topContent__icon icon--small" src=`${imgSrc}` alt="privacy")
                                h1(class="topContent__description description--privacy")=text
                            h1(class="topContent__description")=`${group.members.length} Members` 
                    include ../utils/buttons.pug
                div(class="topContent__navbar")
                    //- if not the member - about--active
                    a(class="topContent__element" href=`/group/${group._id}/about`) About
                    a(class="topContent__element" href=`/group/${group._id}/discussion`) Discussion  
                    a(class="topContent__element topContent__element--active" href=`/group/${group._id}/members`) Members      

            div(class="group__mainContent group__mainContent--members")
                div(class="mainContent__section section--members")
                    div(class="section__top")
                        h1(class="section__header") Members  ·
                            span(style="color: var(--white60tint); font-size: 18px")=`  ${group.members.length}`
                    div(class="section__search")
                        img(src="/imgs/icons/searchIcon.png", alt="" class="section__icon")
                        input(type="text" class="section__input" placeholder="Find a member")
                        
                    div(class="section--overline section__administration")
                        h1(class="section__header section__header--marginBottom") Members with things in common
                        if mutualGroupMembers !== undefined
                            - let counter = 0;
                            - let isAnyMutualMember = false;
                            while counter < mutualGroupMembers.length
                                - const overview = mutualGroupMembers[counter]
                                - counter++;  
                                - let description = '';
                                if mutualGroupMembers[counter] !== undefined
                                    - const oMfLength = overview.mutualFriends.length
                                    if overview.friends === true 
                                        if oMfLength > 0
                                            - description = `You are friends and you have ${oMfLength === 1 ? "One mutual friend" : `${oMfLength} mutual friends`}.`
                                        if oMfLength === 0
                                            - description = `You are friends.`
                                    if overview.friends === false 
                                        if oMfLength > 0
                                        - description = `You have ${oMfLength} mutual friends, including ${ overview.mutualFriends[0].firstName} ${ overview.mutualFriends[0].lastName}`
                                        if oMfLength === 1
                                            - description = `You have one mutual friend: ${ overview.mutualFriends[0].firstName} ${ overview.mutualFriends[0].lastName}`
                                    if overview !== undefined
                                        - const mutualMember = overview.schema._id
                                        if mutualMember !== undefined
                                            - isAnyMutualMember = true

                                        if `${mutualMember._id}` === `${loggedUser._id}`
                                            - description = ""

                                        div(class="section__userCard")
                                            div(class="userCard__user")
                                                a(href=`/userPage/${mutualMember._id}`) 
                                                    img(src=`${mutualMember.profileImage}`, alt="User picture", srcset="", class="userCard__image")
                                                div(class="user__details")
                                                    h1(class="userCard__name")=`${mutualMember.firstName} ${mutualMember.lastName}`
                                                    div(class="userCard__badges")
                                                        h1(class="userCard__badge")=overview.schema.role
                                                    h2(class="userCard__description")=description
                                            div(class="userCard__btns")
                                                if `${mutualMember._id}` !== `${loggedUser._id}`
                                                    include ../utils/_mutualMemberBtn.pug
                            if isAnyMutualMember === false 
                                div(class="section__userCard")
                                    h1.userCard__header There's no member with things in common
                                                   



        script(src="/js/groups/requests/subPages/friendRequests.js")